Checks:          '-*,readability-*,cppcoreguidelines-*,bugprone-*, -readability-uppercase-literal-suffix, -cppcoreguidelines-special-member-functions, -readability-braces-around-statements, -bugprone-suspicious-semicolon, -*-magic-numbers, -cppcoreguidelines-pro-type-member-init, -bugprone-forwarding-reference-overload, -cppcoreguidelines-c-copy-assignment-signature, -readability-qualified-auto, -bugprone-unhandled-self-assignment, -cppcoreguidelines-pro-bounds-pointer-arithmetic, -bugprone-exception-escape'
WarningsAsErrors: '*'
HeaderFilterRegex: 'Spacy/.*'
AnalyzeTemporaryDtors: false
User:            cequenser
#CheckOptions:
#  - key:             readability-identifier-naming.FunctionCase
#    value:           'lower_case'
 # - key:             readability-braces-around-statements.ShortStatementLines
 #   value:           '1'
 # - key:             cppcoreguidelines-narrowing-conversions.PedanticMode
 #   value:           '1'

